@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat";
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Update the format if necessary */
  font-weight: normal; /* You can specify font-weight if you have multiple weights */
  font-style: normal; /* Specify if the font is italic or normal */
}

  /* Tailwind Customizations */
.bg-cover {
  background-size: cover;
  background-position: center;
}